<section>
    <form [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Ваша Email-адреса:" type="email" formControlName="email" name="email" email required>
        <mat-error>Некоректна Email-адреса</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Ваш пароль:" type="password"  formControlName="password" name="password" minlength="6"
         required>
          <mat-error>Некоректий пароль</mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Увійти</button>
    </form>
  </section>
