<mat-toolbar color="primary">
    <div class="burgerMenu">
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>
          menu
        </mat-icon>
      </button>
    </div>
    <div>
      <a routerLink="/">MADE BY VJI</a>
    </div>
    <div class="navLink">
      <ul>
        <li *ngIf="!(isAuth$ | async)">
          <a routerLink="/signup">Реєстрація</a>
        </li>
        <li *ngIf="!(isAuth$ | async)">
          <a routerLink="/login">Вхід</a>
        </li>
        <li *ngIf="isAuth$ | async">
          <a routerLink="/training">Тренування</a>
        </li>
        <li *ngIf="isAuth$ | async">
          <a id="logout" (click)="onLogout()">Вихід</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
